@import '../../styles/variables';

.about {
    padding-block: 100px;
    .section-text {
        margin-block: 15px 30px;
        @media (min-width: $breakpoint-mobile) {
            max-width: 420px;
            margin-inline: auto;
        }
    }
    .btn {
        margin-inline: auto;
        margin-block-start: 26px;
    }
    .container {
        display: grid;
        gap: 120px;
        @media (min-width: $breakpoint-mobile) {
            gap: 80px;
        }
        @media (min-width: $breakpoint-laptop) {
            grid-template-columns: 0.7fr 1fr;
            gap: 30px;
        }
    }
    .about-content {
        @media (min-width: $breakpoint-desktop-xl) {
            padding-inline-end: 90px;
        }
    }
    .about-banner {
        position: relative;
        & > .w-100 {
            padding-inline-start: 50px;
            @media (min-width: $breakpoint-mobile) {
                padding-inline-start: 90px;
            }
        }
    }
}