@import '../../styles/variables';

.about {
    @media (min-width: $breakpoint-desktop-xl) {
        padding-top: 100px;
    }
    .section-text {
        margin-block: 15px 30px;
        @media (min-width: $breakpoint-mobile) {
            max-width: 420px;
            margin-inline: auto;
        }
    }
    .btn {
        margin-inline: auto;
        margin-block-start: 26px;
    }
    .container {
        display: grid;
        gap: 120px;
        @media (min-width: $breakpoint-mobile) {
            gap: 80px;
        }
        @media (min-width: $breakpoint-laptop) {
            grid-template-columns: 0.7fr 1fr;
            gap: 30px;
        }
    }
    .about-content {
        @media (min-width: $breakpoint-desktop-xl) {
            padding-inline-end: 90px;
        }
    }
    .about-banner {
        position: relative;
        margin-block-end: 120px;
        & > .w-100 {
            padding-inline-start: 50px;
            @media (min-width: $breakpoint-mobile) {
                padding-inline-start: 90px;
            }
        }
    }
    .abs-img {
        position: absolute;
        &::before {
            z-index: -1;
        }
        &-1 {
            bottom: -120px;
            left: 0;
            width: 150px;
            padding-block: 50px;
            @media (min-width: $breakpoint-mobile) {
                width: 285px;
            }
            &::before {
                top: 0;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 140px;
                background-image: url('../../assets/images/img-pattern.svg');
                background-repeat: repeat;
            }
        }
        &-2 {
            top: -65px;
            right: 0;
            overflow: hidden;
        }
    }
}