@import '../../styles/variables';

.preload {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $gold-crayola;
    z-index: 10;
    display: grid;
    place-items: center;
    transition: $transition-2;

    & > * {
        transition: $transition-1;
    }

    &.loaded {
        transition-delay: 250ms;
        transform: translateY(100%);

        & > * {
            opacity: 0;
        }
    }
}

.circle {
    width: 112px;
    height: 112px;
    border-radius: $radius-circle;
    border: 3px solid $white;
    border-block-start-color: $smoky-black-3;
    margin-block-end: 45px;
    animation: rotate360 1s linear infinite;
}

@keyframes rotate360 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(1turn);
    }
}

.preload .text {
    background-image: $loading-text-gradient;
    background-size: 500%;
    font-size: calc(1rem + 2vw);
    font-weight: $weight-bold;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 16px;
    padding: 0;
    margin-left: 8px;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0.5px $eerie-black-3;
    animation: loadingText linear 2s infinite;
    text-align: center;
    width: 100%;
}

@keyframes loadingText {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: 0%;
    }
}