@import '../../styles/variables';

.features {
    @media (min-width: $breakpoint-desktop-xl) {
        overflow: visible;
    }

    .section-title {
        margin-block-end: 40px;
    }

    .grid-list {
        @media (min-width: $breakpoint-desktop) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .feature-item {
        &:nth-child(2n+1) .feature-card {
            background-color: $eerie-black-3;
        }

        &:nth-child(2n) .feature-card {
            background-color: $smoky-black-3;
        }
    }

    .feature-card {
        padding: 30px 20px 40px;

        .card-icon {
            max-width: max-content;
            margin-inline: auto;
            transition: $transition-2;
        }

        &:hover .card-icon {
            transform: scale(-1) rotate(180deg);
        }

        .card-title {
            margin-block: 20px;
        }

        .card-text {
            color: $quick-silver;
            line-height: $lineHeight-6;
        }
    }

    .shape-1 {
        top: -100px;
        right: 0;
    }

    .shape-2 {
        bottom: 80px;
        left: 0;
    }
}