@import '../../styles/variables';

.service {
    .section-title {
        margin-block-end: 16px;
    }

    .section-text {
        margin-block-end: 40px;

        @media (min-width: $breakpoint-mobile) {
            max-width: 420px;
            margin-inline: auto;
        }
        @media (min-width: $breakpoint-desktop) {
            margin-block-end: 75px;
        }
    }

    .container {
        @media (min-width: $breakpoint-mobile) {
            max-width: 420px;
            margin-inline: auto;
        }
        @media (min-width: $breakpoint-tablet) {
            max-width: 820px;
        }
        @media (min-width: $breakpoint-laptop) {
            max-width: unset;
        }
        @media (min-width: $breakpoint-desktop) {
            max-width: 1200px;
        }
    }

    .grid-list {
        @media (min-width: $breakpoint-tablet) {
            li:last-child {
                grid-column: 1 / 3;
                width: calc(50% - 20px);
                margin-inline: auto;
            }
        }
        @media (min-width: $breakpoint-laptop) {
            grid-template-columns: repeat(3, 1fr);
            
            li:last-child {
                grid-column: auto;
                width: 100%;
            }
        }
        @media (min-width: $breakpoint-desktop) {
            gap: 150px;
            
            li:nth-child(2n+1) {
                transform: translateY(-160px);
            }
        }
    }

    &-card {
        overflow: hidden;

        .has-before {
            padding-block: 30px;
            margin-block-end: 26px;
            z-index: 1;

            &::before {
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 140px;
                height: 100%;
                background-image: url('../../assets/images/img-pattern.svg');
                background-position: center;
                background-size: cover;
                background-repeat: repeat;
                transition: $transition-2;
                transition-delay: 0;
                z-index: -1;
                will-change: transform;
            }
        }

        &:is(:hover, :focus-within) {
            .has-before::before {
                transform: rotateY(0.5turn) translateX(50%);
                transition-delay: 300ms;
            }

            .card-banner {
                transform: scale(1.05);
            }
        }

        .card-banner {
            transition: $transition-2;
        }

        .card-title {
            margin-block-end: 12px;
        }
    }

    .shape-1 {
        bottom: 0;
        left: 0;
    }

    .shape-2 {
        top: 0;
        right: 0;
    }
}